<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
 <h2 class="tm-section-title">Forgot Password</h2>
                                    
                                            
                                        </select>
                                      <form role="form" action="/forgot" method="post" id="login-form" autocomplete="off">
                                       

                                    <p><input type="text" name="email" id="username" class="form-control" placeholder="Enter email"></p>  
                                        
                                </div>                            
                                <button  class="tm-welcome-link tm-button">Reset</a>
</form>

</body>
</html>