<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
 <h2 class="tm-section-title">Reset Password</h2>
                                    
                                            
                                        </select>
                                      <form role="form"  method="post" id="login-form" autocomplete="off">
                                       

                                    <p><input type="password" name="password" id="password" class="form-control" placeholder="Enter password"></p>  
                                        
                                </div>                            
                                <button  class="tm-welcome-link tm-button">Update Password</a>
</form>

</body>
</html>